@mixin grid-layout($gap, $content, $min, $max) {
	display: grid;
	gap: $gap;
	grid-gap: $gap;
	grid-template-columns: repeat($content, minmax($min, $max));
}

@mixin border($radius, $color: false, $size: false) {
	border-radius: $radius;
	@if $size {
		border-width: $size;
		border-color: $color;
		border-style: solid;
	}
}

@mixin text-link($color) {
	color: $color;
	display: inline-block;
	text-decoration: none;

	&::after {
		background: transparent;
		content: "";
		display: block;
		height: 3px;
		transition: 
			width 0.5s ease,
			background-color 0.5s ease;
		width: 0;
	}

	&:hover::after,
	&:active::after,
	&:focus::after {
		background: $color;
		width: 100%;
	}
}

@mixin svg-hover($transition, $color) {
	transition: $transition;

	&:hover {
		fill: $color;
	}
}
