// ----------- Variables ----------- //

$font: "Alata", sans-serif;
$transition: all 0.45s ease;

$font-color: #282828;
$color-primary: #3b7d97;
$color-secondary: #a89984;
$bg-color: #ffffff;


// ----------- Mixins ----------- //

@mixin grid-layout($gap, $content, $min, $max) {
	display: grid;
	gap: $gap;
	grid-gap: $gap;
	grid-template-columns: repeat($content, minmax($min, $max));
}

@mixin border($radius, $size: false) {
	border-radius: $radius;
	@if $size {
		border-width: $size;
		border-color: $color-primary;
		border-style: solid;
	}
}

@mixin text-link {
	color: $color-primary;
	display: inline-block;
	text-decoration: none;

	&::after {
		background: transparent;
		content: "";
		display: block;
		height: 3px;
		transition: 
			width 0.5s ease,
			background-color 0.5s ease;
		width: 0;
	}

	&:hover::after,
	&:active::after,
	&:focus::after {
		background: $color-primary;
		width: 100%;
	}
}

@mixin svg-hover {
	transition: $transition;

	&:hover {
		fill: $color-primary;
	}
}