@use "variables" as *;

.dark-mode {
	$font-color: #fbf1c7;
	$color-primary: #d65d0e;
	$color-secondary: #928374;
	$bg-color: #1d2021;
}

.sepia-mode {
	$font-color: #282828;
	$color-primary: #9d0006;
	$color-secondary: #7c6f64;
	$bg-color: #ebdbb2;
}

body {
	font-family: $font;
	background-color: $bg-color;
	color: $font-color;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-size: 17px;
}

.default__main {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	user-select: none;
}

// Section general
.section__container {
	min-height: 40vh;
	margin-top: 4rem;

	.section__title {
		color: $color-primary;
		margin-bottom: 0;
		font-size: 1.5em;
		text-decoration: underline;
	}
}

.text__link {
	@include text-link;
}

.skill__image {
	@include svg-hover;
}
