.contact__title {
	text-align: center;
}

.contact__links {
	margin-top: 1.5rem;
	display: grid;
	grid-template-columns: repeat(4, minmax(50px, 1fr));
	gap: 1rem;
	grid-gap: 1rem;
	place-items: center;

	.social__image {
		width: 60px;
		height: auto;
	}
}
