.footer {
	width: 100%;
	margin-top: 5rem;
	padding: 0.25rem 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.footer__social {
		width: 80%;
		display: flex;
		justify-content: space-evenly;

		.social__link {
			.social__image {
				width: 1.75rem;
				height: auto;
			}
		}
	}

	.footer__text {
		text-align: right;
	}
}
