.header {
	width: 100%;
	margin-bottom: 1rem;

	.nav {
		width: inherit;
		padding: 0.5rem 0.25rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	
		.nav__item {
			padding: 0.10rem 0.25rem;
			text-decoration: none;
		}
	}
}