.projects__container {
	margin-top: 1rem;
	padding: 0.25rem 0.5rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 1rem;
	grid-gap: 1rem;
}

.project__section {
	padding: 0.5rem 0.75rem;
	transition: $transition;
	border: 2px solid lightgray;
	border-radius: 0 16px 0 16px;

	.project__intro {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.project__title {
			margin: 0;
			color: $color;
		}
	
		.project__skills {
			max-width: 40%;
			
			.skill__image {
				width: 25px;
				height: auto;
			}
		}
	}

	.project__text {
		font-size: 0.85em;
	}

	.project__links {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: space-evenly;
	}
}

.project__section:hover {
	border-color: $color;
}
