$font: "Alata", "Helvetica", "Sans-Serif";
$font-size-starter: 17px;
$transition: all 0.45s ease;
$color-soft: #4d4d4d;

$font-light-color: #282828;
$color-light-primary: #3b7d97;
$color-light-secondary: #a89984;
$bg-light-color: #ffffff;

$font-dark-color: #fbf1c7;
$color-dark-primary: #d65d0e;
$color-dark-secondary: #928374;
$bg-dark-color: #1d2021;

$font-sepia-color: #433422;
$color-sepia-primary: #7a7a11;
$color-sepia-secondary: #ded0bf;
$bg-sepia-color: #f1e7d0;
